/* Classi per il background */
.background-color{
    background: linear-gradient(to bottom, #439488 20%, #d9dbd6 20%);
    height: 100%;
    /* TODO: Sistemare l'altezza totale per farlo 100% della Vh */
}
/* -------------------------- */
/* Classi per la sidebar */
.space-above{
    padding: 20px 0;
   
}
.sidebar{
    background-color:#ffffff;
    
}
/* Classi layout sidebar */
.layout-sidebar{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}
.utente-io{
    width:100%;
    height: 70px;
    background-color: #e9ebeb;
    border-right:1px solid #d6d6d6;
    padding:5px 12px;
}
.nuova-chat-notification{
    width:100%;
    height: 110px;
    
}
.messaggi{
    width: 95%;
    height:calc(100vh - 70px - 110px);
    background-color:white;
    overflow-y: scroll;
    position:relative;
}

/* -------------------------- */
/* Classi utente icons */
.utente-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenitore{
    display: flex;
    align-items: center;
}
.box-utente-image{
    width: 60px; 
}
.box-utente-image img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

/* Classi notifiche in azzurro */
.bg-azzurro{
    background-color:#9fd7f8;
    display: flex;
    padding:10px 12px;
    margin-bottom:10px;
}
.box-azuro i{
    width: 50px;
    height:50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    background-color: #f4fcff;
    
}

/* Classi barra ricerca */
.search{
    display: flex;
    padding:0 12px;
}
.bordo{
    border:1px solid #ccc;
    width:100%;
    display: flex;
}
.icon-search{
    background-color:white;
    border-color:white;
    padding-left:15px;
    color:#bbbdbf;
}
.bordo input{
    border:none;
    padding-left:15px;
    width:100%;
}

/* Classi contatti per selezionare la chat */
.contatti{
    padding:10px 0;
}
.image-utente-text{
    width:50px;
}
.selezione-contatti{
    display: flex;
    padding:0 12px;
    margin-bottom:10px;
}
.selezione-contatti:hover{
    background-color:#e9ebeb ;
}
.selezione-contatti span{
    margin-left:10px;
}
.image-utente-text img{
    width:100%;
    border-radius:50%;
    overflow: hidden;
}


/* -------------------------- */
/* Classi layout chat */
.layout-chat{
    display: flex;
    flex-direction: column;
}
.top-bar{
    width:100%;
    height:70px;
    background-color: #e9ebeb ;
    padding: 5px 12px;
}
.content-chat{
    width:100%;
    height:calc(100vh - 70px - 70px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    position:relative; 
}
.bottom-bar{
    width:100%;
    height:70px;
    background-color: #e9ebeb ;
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------- */
/* Bottom bar content: */
.content-bottom-bar-1{
    display: flex;
    align-items: center;
}
.box-icon-input i{
    background-color:e9ebeb;
    font-size:30px;
}
.write-message{
    width:100%;
}

.write-message input{
    width: calc(100% - 20px);
    height:60px;
    margin: 0 10px;
}

/* -------------------------- */
/* Classi per il content-chat, dove ci sono i messaggi: */
.prova-content-2{
    padding:20px 0;
    display: flex;
    flex-direction: column;
}
.prova-content-2 div{
    border-radius: 15px;
    padding: 10px;
    margin-bottom:10px;
}
.prova-content-2 div:last-child{
    margin-bottom:0;
}

/* Classi colore sfondo date da js */
.check{
    background-color: #dcf8c0;
}
.white{
    background-color: #ffffff;
    
}
/* -------------------------- */





/* -------------------------- */

