/* Classi per il background */
.background-color{
    background: linear-gradient(to bottom, #439488 20%, #d9dbd6 20%);
    height:100%;
}
/* -------------------------- */
/* Classi per il la sidebar */
.space-above{
    padding: 30px 0;
}
.sidebar{
    background-color:red;
    height:100vh;
}
.main{
    background-color:green;
    height:100vh;
}
/* Classi utente icons */
.utente-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 12px;
}
.contenitore{
    display: flex;
    align-items: center;
}
.box-utente-image{
    width: 60px; 
}
.box-utente-image img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

/* Classi notifiche in azzurro */
.bg-azzurro{
    background-color:#9fd7f8;
    display: flex;
    padding:12px 12px;
}
.box-azuro i{
    width: 50px;
    height:50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    background-color: #f4fcff;
    
}

/* Classi barra ricerca */
.search{
    display: flex;
    padding:12px 12px;
}
.bordo{
    border:1px solid #ccc;
    width:100%;
    display: flex;
}
.icon-search{
    background-color:white;
    border-color:white;
    padding-left:15px;
    color:#bbbdbf;
}
.bordo input{
    border:none;
    padding-left:15px;
    width:100%;
}




/* Classi contatti per selezionare la chat */

/* -------------------------- */